@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inria+Serif:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Lato:wght@400;700&display=swap');

body {
    background-color: #FAF7F5;
}

.navbar-brand {
    font-family: "Inria Serif", Georgia, 'Times New Roman', serif;
    font-weight: 800;
    color: #262626;
}

.nav-link {
    font-family: "Lato", Helvetica, sans-serif;
    font-weight: 300;
    color: #7e7e7e;
}

.welcome {
    border-top: 26px solid #6C534E;
}

h1 {
    font-family: "Inria Serif", Georgia, 'Times New Roman', serif;
    margin: 0;
}

.carousel-caption {
    top: 25%;
}

.description {
    text-align: center;
    margin: 0 auto;
    width: 580px;
    padding: 50px;
}

h2 {
    font-family: "Inria Serif", Georgia, 'Times New Roman', serif;
    color: #6C534E;
    margin-bottom: 20px;
}

.text-body-secondary {
    font-family: "Lato", Helvetica, sans-serif;
    font-size: 12pt;
    color: #494848;
}

p {
    color: #494848;
}

.btn {
    border-radius: 0px;
    margin: 15px;
}









